{% extends 'base.html' %}

{% block title %}Добавить задачу{% endblock %}

{% block content %}
    <h2>Добавить задачу</h2>
    <form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="title" class="form-label">Название задачи</label>
        <input type="text" name="title" id="title" class="form-control" required>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Описание</label>
        <textarea name="description" id="description" class="form-control"></textarea>
    </div>
    <div class="mb-3">
        <label for="status" class="form-label">Статус</label>
        <select name="status" id="status" class="form-select" required>
            <option value="new">Новая</option>
            <option value="in_progress">В процессе</option>
            <option value="done">Сделано</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="due_date" class="form-label">Дата выполнения</label>
        <input type="date" name="due_date" id="due_date" class="form-control">
    </div>
    <button type="submit" class="btn btn-success">Сохранить</button>
</form>

{% endblock %}
